<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Suite">


	<listeners>

		<listener class-name="listeners.CustomListeners"></listener>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>

	</listeners>


	


	<test name="Bank Manager Login Test">
		<classes>
			<class name="testcases.BankManagerLoginTest" />

		</classes>
	</test> <!-- Test -->
		
</suite> <!-- Suite -->
